<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
    </head>
    <body>
        <!-- TODO - Add some content using Handlebars -->
        <p style="color:red;">{{content}}</p>
    </body>
</html>